nodered/flows_cred.json
nodered/openssl/*
nodered/.config.nodes.json
nodered/.config.nodes.json.backup
nodered/.config.runtime.json
nodered/.config.users.json
nodered/.config.users.json.backup
nodered/.flows.json.backup
nodered/.flows_cred.json.backup
nodered/.npm/
